@import "tailwindcss";

@font-face {
    font-family: "PixelGrid";
    src: url("/assets/fonts/pixelgrid-squareboldm.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "PixelGrid";
    src: url("/assets/fonts/pixelgrid-squarebolds.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "PixelGrid";
    src: url("/assets/fonts/pixelgrid-squareboldxl.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}